.product-list {
    padding: 10px;
}

.card {
    display: inline-block;
    width: 100%;
    /*все цвета лучше выносить в root */
    border: 1px solid var(--color-border-card);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
}

.card-image {
    width: 100%;
}

/*не стоит присваивать стандартным html тегам css стили*/
button {
    padding: 5px;
    margin: 5px;
}


@media (min-width: 840px) {
    .card {
        width: calc(100% / 3);
    }
}

@media (min-width: 420px) and (max-width: 840px) {
    .card {
        width: 50%;
    }
}

@media (max-width: 420px) {
    .card {
        width: 100%;
    }
}